 <nav class="navbar navbar-expand-md ">
                <div class="home-icon">
                    <img src="assets/shared/logo.svg" alt="">
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#travel-nav" class="navbar-toggler collapsed">                  
                </button>
                <div class="line"></div>
                <div class="collapse navbar-collapse" id="travel-nav">
                  <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/">
                            <span>00</span>
                            <p>Home</p>
                         </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/destination">
                            <span> 01</span> <p>Destination</p>
                         </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/crew">
                            <span>02</span> <p>Crew</p>
                         </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/technology">
                            <span>03</span> <p>
                             technology
                            </p>
                         </a>
                    </li>
                </ul>
                </div>
            </nav>